//header
nav#nav-header{
    background-color: $color_cyan;
}
.navbar-collapse {
    padding-left: 55%;
}

//footer
footer {
    padding-top: 1em;
    padding-bottom: .5em;
    height: auto;
    background-color: $color_cream;
    font-size: $font-size_smaller;
    text-align: center;
    a {
        color: $color_blue;
        font-weight: bold;
        font-style: italic;
    }
}
.footer__navbar {
    &-list {
        list-style-type: none;
        &--item {
            display: inline-block;
            margin-right: 2em;
            img {
                width: 1.5em;
                height: auto;
            }
        }
    }
}

//titulares
h1 {
    color: $color_blue;
    font-weight: bold;
    font-size: 1.5rem;
    &.titular-contacto {
        color: $color_red;
        text-align: center;
        padding-top: 2em;
    }
}
h2 {
    color: $color_red;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
}
.nav-section {
    margin: 3em 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__external {
        display: flex;
        align-items: flex-start;
        img {
            width: 1em;
            height: auto;
        }
        p {
            color: $color_coral;
            padding-left: 1em;
        }
        a {
            font-size: $font-size_smaller;
        }
    }
}

/* media queries tablet */
@media all and (max-width: 1200px) {
//footer
footer {
    padding-bottom: .3em;
}

//titulares
h1 {
    font-size: 1.2rem;
    &.titular-contacto {
        padding-top: 1.8em;
    }
}
h2 {
    font-size: .8rem;
}
.nav-section {
    margin: 2em 4em;
}
}

/* media queries celular */
@media all and (max-width: 576px) {
//header
nav#nav-header{
    padding: 1em;
}

//titulares
h1 {
    font-size: 1.2rem;
    &.titular-contacto {
        padding-top: 1.3em;
    }
}
h2 {
    font-size: 1rem;
}
.nav-section {
    margin: 2em 4em;
}
}