p {
  color: #214f7b;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

span {
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav#nav-header {
  background-color: #7dd1f1;
}

footer {
  padding-top: 1em;
  padding-bottom: .5em;
  height: auto;
  background-color: #fcddce;
  font-size: 0.7rem;
  text-align: center;
}

footer a {
  color: #214f7b;
  font-weight: bold;
  font-style: italic;
}

.footer__navbar-list {
  list-style-type: none;
}

.footer__navbar-list--item {
  display: inline-block;
  margin-right: 2em;
}

.footer__navbar-list--item img {
  width: 1.5em;
  height: auto;
}

h1 {
  color: #214f7b;
  font-weight: bold;
  font-size: 1.5rem;
}

h2 {
  color: #e82528;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-section {
  margin: 3em 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-section__external {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.nav-section__external img {
  width: 1em;
  height: auto;
}

.nav-section__external p {
  color: #ea5853;
  padding-left: 1em;
}

.nav-section__external a {
  font-size: 0.7rem;
}

/* Page: index */
.banner {
  margin: 4em 4em 0 4em;
}

.banner__text--intro {
  color: #e82528;
  font-weight: bold;
  font-size: 2.3rem;
  line-height: 1.4em;
  padding-bottom: .3em;
  width: 90%;
}

.banner__text--intro + p {
  font-size: 1.2rem;
  width: 90%;
}

.banner__text-contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner__text-contacto--button {
  text-decoration: none;
  color: white;
  background-color: #214f7b;
  font-size: 0.7rem;
  padding: .5em 2em;
  border-radius: .7em;
  -webkit-box-shadow: 2px 5px 6px #7dd1f1;
          box-shadow: 2px 5px 6px #7dd1f1;
}

.banner__text-contacto--button:hover {
  color: white;
  font-weight: bold;
}

.banner__text-contacto--redes {
  margin-bottom: 0;
}

.banner__text-contacto--redes-item {
  padding-left: 1em;
  display: inline-block;
}

.banner__text-contacto--redes-item img {
  width: 1.2em;
  height: auto;
}

.banner__image img {
  width: 70%;
  height: auto;
}

.home-servicios {
  background-color: rgba(252, 221, 206, 0.4);
  padding: 2em 0 3em 0;
}

.home-servicios--intro {
  text-align: center;
  padding-bottom: 1em;
}

.home-servicios__cards {
  width: 90%;
  margin: 0 auto;
}

.home-servicios__cards--box {
  background-color: white;
  -webkit-box-shadow: 8px 8px 15px rgba(234, 88, 83, 0.5);
          box-shadow: 8px 8px 15px rgba(234, 88, 83, 0.5);
  padding: 1em;
  position: relative;
}

.home-servicios__cards--box h2 {
  text-align: center;
}

.home-servicios__cards--box-dropdown {
  position: relative;
  display: none;
}

.home-servicios__cards--box-dropdown p {
  text-align: center;
  margin-bottom: 0;
}

.home-servicios__cards--box:hover .home-servicios__cards--box-dropdown {
  display: block;
}

/* Page: servicios */
.servicios {
  margin: 0 4em 2em 4em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat 4, 1fr;
      grid-template-columns: repeat 4, 1fr;
  grid-gap: 2em;
}

.servicios__image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -webkit-animation-name: cascade;
          animation-name: cascade;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.servicios__card {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  background-color: white;
  padding: 1.5em;
  -webkit-box-shadow: -6px 6px 20px rgba(234, 88, 83, 0.5);
          box-shadow: -6px 6px 20px rgba(234, 88, 83, 0.5);
}

.servicios__card--text {
  font-size: 0.9rem;
}

.servicios__card-img {
  width: auto;
  height: 5.5em;
}

.servicios__card .servicios__card-img--consultoria {
  background-image: url("../media/icons/consultoria.svg");
  background-repeat: no-repeat;
  background-size: 4em;
}

.servicios__card .servicios__card-img--plan-estrategico {
  background-image: url("../media/icons/plan-estrategico.svg");
  background-repeat: no-repeat;
  background-size: 4em;
}

.servicios__card .servicios__card-img--identidad {
  background-image: url("../media/icons/identidad.svg");
  background-repeat: no-repeat;
  background-size: 4em;
}

.servicios__card .servicios__card-img--diseno-grafico {
  background-image: url("../media/icons/diseno-grafico.svg");
  background-repeat: no-repeat;
  background-size: 4em;
}

.servicios__card .servicios__card-img--diseno-web {
  background-image: url("../media/icons/diseno-web.svg");
  background-repeat: no-repeat;
  background-size: 4em;
}

.servicios__card .servicios__card-img--desarrollo-web {
  background-image: url("../media/icons/desarrollo-web.svg");
  background-repeat: no-repeat;
  background-size: 4em;
}

.servicios__card .servicios__card-img--community {
  background-image: url("../media/icons/community.svg");
  background-repeat: no-repeat;
  background-size: 4em;
}

.servicios__card .servicios__card-img--ilustracion {
  background-image: url("../media/icons/ilustracion.svg");
  background-repeat: no-repeat;
  background-size: 4em;
}

@-webkit-keyframes cascade {
  0% {
    background-color: #e82528;
    height: 1em;
  }
  25% {
    background-color: #ea5853;
    height: 25%;
  }
  35% {
    height: 50%;
  }
  50% {
    background-color: #fcddce;
    height: 100%;
  }
  65% {
    height: 50%;
  }
  75% {
    background-color: #ea5853;
    height: 25%;
  }
  100% {
    background-color: #e82528;
    height: 1em;
  }
}

@keyframes cascade {
  0% {
    background-color: #e82528;
    height: 1em;
  }
  25% {
    background-color: #ea5853;
    height: 25%;
  }
  35% {
    height: 50%;
  }
  50% {
    background-color: #fcddce;
    height: 100%;
  }
  65% {
    height: 50%;
  }
  75% {
    background-color: #ea5853;
    height: 25%;
  }
  100% {
    background-color: #e82528;
    height: 1em;
  }
}

/* Page: traajos */
.portfolio__card--villavicencio {
  background-image: url(../media/portfolio/villavicencio.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.portfolio__card--virazon {
  background-image: url(../media/portfolio/virazon.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.portfolio__card--grolsch {
  background-image: url(../media/portfolio/grolsch.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.portfolio__card--veganos {
  background-image: url(../media/portfolio/veganos.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.portfolio__card--lancome {
  background-image: url(../media/portfolio/lancome.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.portfolio__card--ikigai {
  background-image: url(../media/portfolio/ikigai.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.portfolio__card--fanego {
  background-image: url(../media/portfolio/fanego.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.portfolio__card--pascale {
  background-image: url(../media/portfolio/pascale.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.portfolio__card--soto {
  background-image: url(../media/portfolio/soto.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__card {
  width: 33%;
  position: relative;
}

.portfolio__card-image {
  width: 100%;
  height: 250px;
}

.portfolio__card--dropdown {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ea5853;
}

.portfolio__card--dropdown h2 {
  color: white;
  text-align: center;
}

.portfolio__card--dropdown p {
  color: white;
  text-align: center;
  font-size: 0.9rem;
}

.portfolio__card:hover .portfolio__card--dropdown {
  display: block;
}
/*# sourceMappingURL=estilos.css.map */